<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="myAdvice"
          class="com.xoste.leon.advice.MyAdvice"/>
    <aop:config>
        <aop:aspect ref="myAdvice">
            <aop:pointcut id="myPoint"
                          expression="execution(* com.xoste.leon.test.Demo.demo1(String,int)) and args(name, age)"/>
            <aop:before method="myBefore" pointcut-ref="myPoint" arg-names="name, age"/>
            <!--<aop:after method="myAfter" pointcut-ref="myPoint"/>
            <aop:after-returning method="myAfterReturning" pointcut-ref="myPoint"/>
            <aop:around method="myAround" pointcut-ref="myPoint"/>
            <aop:after-throwing method="myAfterThrowing" pointcut-ref="myPoint"/>-->
        </aop:aspect>
    </aop:config>
    <bean id="demo" class="com.xoste.leon.test.Demo"/>
</beans>